{% extends "base.html" %}

{% block content %}
    <h1 class="child-title">{{ section.title }}</h1>

    <div class="projects-grid">
        {% for page in section.pages %}
        <div class="project-card">
            <h2>{{ page.title }}</h2>
            <h2>{{ page.description }}</h2>

            {%if page.extra.tech %}
            <ul class="tech-stack">
                {% for tech in page.extra.tech %}
                <li>{{ tech }}</li>
                {% endfor %}
            </ul>
            {% endif %}

        <a href="{{ page.permalink }}" class="button">
            <svg style="width:120px;" viewBox="0 0 120 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="0" width="120" height="36" rx="18" fill="white"/>
                <text x="60" y="18" font-family="'Fragment Mono', monospace" font-size="13" fill="black" text-anchor="middle" dominant-baseline="central" font-weight="600">View page</text>
            </svg>
        </a>
        </div>
        {% endfor %}
    </div>
{% endblock content %}