{% extends "base.html" %}

{% block content %}

<h1 class="child-title">Stack</h1>

<svg width="100%" viewBox="0 0 680 420" xmlns="http://www.w3.org/2000/svg">
  <polygon points="340,20 267,143 413,143" fill="black" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
    <text x="340" y="70" text-anchor="middle" fill="white" font-size="12">Flutter</text>
    <text x="340" y="90" text-anchor="middle" fill="white" font-size="12">Tkinter</text>
    <text x="340" y="110" text-anchor="middle" fill="white" font-size="12">Slint</text>


  <polygon points="267,143 413,143 487,267 193,267" fill="black" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
    <text x="340" y="170" text-anchor="middle" fill="white" font-size="12">Github Pages</text>
    <text x="340" y="190" text-anchor="middle" fill="white" font-size="12">Google Play</text>
    <text x="340" y="210" text-anchor="middle" fill="white" font-size="12">Samsung Store</text>
    <text x="340" y="230" text-anchor="middle" fill="white" font-size="12">Flathub</text>
    <text x="340" y="250" text-anchor="middle" fill="white" font-size="12">Microsoft Store</text>


  <polygon points="193,267 487,267 560,390 120,390" fill="black" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
    <text x="340" y="290" text-anchor="middle" fill="white" font-size="12">Rust</text>
    <text x="340" y="310" text-anchor="middle" fill="white" font-size="12">Dart</text>
    <text x="340" y="330" text-anchor="middle" fill="white" font-size="12">Go</text>
    <text x="340" y="350" text-anchor="middle" fill="white" font-size="12">Python</text>
    <text x="340" y="370" text-anchor="middle" fill="white" font-size="12">SQL</text>
  
</svg>
{% endblock content %}